@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #161616;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
  }
  @keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  .other-box {
    width: 300px;
    height: 95px;
    padding: 40px;
    position: absolute;
    top: 140px; right: -170px;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
    border-radius: 20px;
    color:white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  #site {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #faa81a;
    width: 40%;;
    position: absolute;
    left: 20px;
    top: 70px;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px;   
    font-weight: bolder;
}
  #site:hover {
    background: #ffb83d;  
}
  .main-box {
    position: relative;
    left: 246px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    width: 312px;
    height: 175px;
    background: #191919;
    border-radius: 20px;
    position: absolute;
    top: 52px; 
}
  #play {
    box-shadow: 0px 10px 14px -7px #000000;
    background-color:#3e943e;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px;   
    border: 0;
    display:inline-block;
    cursor:pointer;
    width: 85%;
    height: 30%;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight: bold;
    padding: 10px;
    text-decoration:none;
    position: relative;
    top: 95px;
    outline: 0;
}
 #play:hover {
    background-color: #62b362;
}
  #skin {
    border-radius: 20%;
    max-width: 50%;
    height: auto;
    position: relative;
    right: -90px;
}
#background {
  width: 246%;
  height:  130%;
  position: absolute;
  right: 0px;
  border-radius: 20px;
  top: 200px;
}
  #logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    top: 60px;
    left: 35px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  #discord {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #56b863;
    width: 40%;;
    border: 0;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px;    
    font-weight: bolder;
}
  #discord:hover {
    background: #63d172;
}
  #github {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #56b8b8;
    width: 40%;;
    border: 0;
    position: absolute;
    left: 20px;
    top: 120px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    -webkit-border-radius: 12px / 24px;
    -moz-border-radius:    12px / 24px; 
    border-radius:         12px / 24px;     
    font-weight: bolder; 
}
  #github:hover {
    background: #61cece;
}
#deco {
  box-shadow: 0px 10px 14px -7px #000000;
  background-color:#b85656;
  -webkit-border-radius: 12px / 24px;
  -moz-border-radius:    12px / 24px; 
  border-radius:         12px / 24px;   
  display:inline-block;
  cursor:pointer;
  width: 85%;
  height: 30%;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight: bold;
  padding: 10px;
  text-decoration:none;
  position: relative;
  bottom: 25px;
  border: 0;
  outline: 0;
}
#deco:hover {
  background-color: #ec7171;
}
.buttonText {
  transition: all 0.2s;
}
.buttonLoading .buttonText {
  visibility: hidden;
  opacity: 0;
}
.buttonLoading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}



