@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body {
  font-family: Arial;
  background: #161616;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.main-box {
  position: relative;
  left: 246px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  width: 312px;
  height: 175px;
  background: #191919;
  border-radius: 20px;
  position: absolute;
  top: 52px; 
}
.other-box{
  width: 300px;
  height: 95px;
  padding: 40px;
  position: absolute;
  top: 140px; right: -170px;
  transform: translate(-50%,-50%);
  text-align: center;
  border-radius: 20px;
  color:white;
  background-color: #191919;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.settingsText {
  color: #ffffff;
  position: absolute;
  top: 25px;
  font-size: 20px;
  left: 30px;
  background-color: #161616;
  text-align: center;
  line-height: 45px;
  height: 45px;
  width: 210px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#play {
  background-color:#3e943e;
  border-radius: 12px / 24px;   
  border: 0;
  cursor: pointer;
  width: 85%;
  height: 30%;
  color:#ffffff;
  font-size:20px;
  font-weight: bold;
  position: relative;
  top: 95px;
  box-shadow: 0px 10px 14px -7px #000000;
  outline: 0;
}
#play:hover {
background-color: #62b362;
}
#options {
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  top: 100px;
  font-size: 20px;
  left: 30px;
  background-color: #2864b3;
  border-radius: 12px / 24px;   
  text-align: center;
  line-height: 45px;
  height: 45px;
  border: 0;
  width: 210px;
  box-shadow: 0px 10px 14px -7px #000000;
  outline: 0;
}
#options:hover {
  background-color: #3685ec;
}
#skin {
  position: relative;
  width: 100px;
  height: 100px;
  left: 120px;
  box-shadow: 0px 10px 14px -7px #000000;
  border-radius: 20px;
}
#background {
  width: 245%;
  height:  130%;
  position: absolute;
  right: 0;
  border-radius: 20px;
  top: 200px;
}
#logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: 60px;
  left: 35px;
  box-shadow: 0px 10px 14px -7px #000000;
}
#deco {
  background-color:#b85656;
  border-radius: 12px / 24px;   
  border: 0;
  cursor: pointer;
  width: 85%;
  height: 30%;
  color:#ffffff;
  font-size:20px;
  font-weight: bold;
  position: relative;
  bottom: 25px;
  box-shadow: 0px 10px 14px -7px #000000;
  outline: 0;
}
#deco:hover {
  background-color: #ec7171;
}
.buttonText {
  transition: all 0.2s;
}
.buttonLoading .buttonText {
  visibility: hidden;
  opacity: 0;
}
.buttonLoading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}



