@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body{
  background-color: #161616;
  font-family: sans-serif;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.login-box {
  width: 300px;
  padding: 40px;
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  color:white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 2px solid #faa81a;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input {
  border: 0;
  outline: 0;
  background: none;
  color: white;
  font-size: 18px;
  margin: 0 10px;
  font-weight: bolder;
}
.button {
  background: #faa81a;
  color: #FFFFFF;
  border: 0;
  outline: 0;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}
.button:hover {
  background: #ebb559;
}
#LoginMojang {
  width: 85%;
  padding: 10px;
  font-weight: bolder;
}
#LoginMicrosoft {
  width: 37px;
  height: 37px;
  top: 5px;
  padding: 8px;
  left: 4px;
}
.buttonText {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  transition: all 0.2s;
  font-size: 14px;
}
.buttonLoading .buttonText {
  visibility: hidden;
  opacity: 0;
}
.buttonLoading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}



