.Splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
  background-color: #191919;
  border-radius: 7px;
}
.Splash {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.SplashContent {
  color: whitesmoke;
  font-family: 'FontAwesome', sans-serif;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  align-items: center;
  text-align: center;
  left: 100px;
  position: relative;
}
.image {
  position: relative;
  align-items: center;
  right: 10px;
}
.progress {
  top: 100px;
  right: 55px;
  border-radius: 100px;
  align-items: center;
  position: relative;
  height: 20px;
  width: 500px;
}
.progressValue {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #ff9900;
  height: 10px;
  width: 0;
}
@keyframes load {
  0% { width: 0; }
  100% { width: 90%; }
}